<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^pt/?$ index.php [NC,L]
  	RewriteRule ^pt-Sobre-A-GEO/?$ index.php [NC,L]
  	RewriteRule ^pt-Contato/?$ index.php [NC,L]
  	RewriteRule ^pt-City-Lights/?$ index.php [NC,L]
  	RewriteRule ^pt-Dunas/?$ index.php [NC,L]
  	RewriteRule ^pt-Rio-de-Janeiro/?$ index.php [NC,L]
  	RewriteRule ^pt-Fleur/?$ index.php [NC,L]
  	RewriteRule ^pt-Moscow/?$ index.php [NC,L]
  	RewriteRule ^pt-Singapura/?$ index.php [NC,L]
  	RewriteRule ^pt-DelLima/?$ index.php [NC,L]
  	RewriteRule ^pt-Aneis/?$ index.php [NC,L]
  	RewriteRule ^pt-Brincos/?$ index.php [NC,L]
  	RewriteRule ^pt-Conjuntos/?$ index.php [NC,L]
  	RewriteRule ^pt-Gargantilhas/?$ index.php [NC,L]
  	RewriteRule ^pt-Pingentes/?$ index.php [NC,L]
  	RewriteRule ^pt-Pulseiras/?$ index.php [NC,L]
  	RewriteRule ^pt-Lancamentos/?$ index.php [NC,L]
  	RewriteRule ^pt-Blog/?$ index.php [NC,L]

  RewriteRule ^en/?$ index.php [NC,L]
  	RewriteRule ^en-Sobre-A-GEO/?$ index.php [NC,L]
  	RewriteRule ^en-Contato/?$ index.php [NC,L]
  	RewriteRule ^en-City-Lights/?$ index.php [NC,L]
  	RewriteRule ^en-Dunas/?$ index.php [NC,L]
  	RewriteRule ^en-Rio-de-Janeiro/?$ index.php [NC,L]
  	RewriteRule ^en-Fleur/?$ index.php [NC,L]
  	RewriteRule ^en-Moscow/?$ index.php [NC,L]
  	RewriteRule ^en-Singapura/?$ index.php [NC,L]
  	RewriteRule ^en-DelLima/?$ index.php [NC,L]
  	RewriteRule ^en-Aneis/?$ index.php [NC,L]
  	RewriteRule ^en-Brincos/?$ index.php [NC,L]
  	RewriteRule ^en-Conjuntos/?$ index.php [NC,L]
  	RewriteRule ^en-Gargantilhas/?$ index.php [NC,L]
  	RewriteRule ^en-Pingentes/?$ index.php [NC,L]
  	RewriteRule ^en-Pulseiras/?$ index.php [NC,L]
  	RewriteRule ^en-Lancamentos/?$ index.php [NC,L]
  	RewriteRule ^en-Blog/?$ index.php [NC,L]

  RewriteRule ^es/?$ index.php [NC,L]
  	RewriteRule ^es-Sobre-A-GEO/?$ index.php [NC,L]
  	RewriteRule ^es-Contato/?$ index.php [NC,L]
  	RewriteRule ^es-City-Lights/?$ index.php [NC,L]
  	RewriteRule ^es-Dunas/?$ index.php [NC,L]
  	RewriteRule ^es-Rio-de-Janeiro/?$ index.php [NC,L]
  	RewriteRule ^es-Fleur/?$ index.php [NC,L]
  	RewriteRule ^es-Moscow/?$ index.php [NC,L]
  	RewriteRule ^es-Singapura/?$ index.php [NC,L]
  	RewriteRule ^es-DelLima/?$ index.php [NC,L]
  	RewriteRule ^es-Aneis/?$ index.php [NC,L]
  	RewriteRule ^es-Brincos/?$ index.php [NC,L]
  	RewriteRule ^es-Conjuntos/?$ index.php [NC,L]
  	RewriteRule ^es-Gargantilhas/?$ index.php [NC,L]
  	RewriteRule ^es-Pingentes/?$ index.php [NC,L]
  	RewriteRule ^es-Pulseiras/?$ index.php [NC,L]
  	RewriteRule ^es-Lancamentos/?$ index.php [NC,L]
  	RewriteRule ^es-Blog/?$ index.php [NC,L]

  RewriteRule ^/?$ index.php [NC,L]
</IfModule>